In [1]:
from pyspark.sql import Row

In [2]:
data = [('Alice', 1), ('Bob', 2), ('Bill', 4)]
df = sqlContext.createDataFrame(data, ['name', 'age'])
fil = df.filter(df.age > 3).collect()
print(fil)

# If the Spark job doesn't work properly this will raise an AssertionError
assert fil == [Row(u'Bill', 4)]

[Row(name='Bill', age=4)]

In [4]:
type(sqlContext)

pyspark.sql.context.SQLContext

In [5]:
dir(sqlContext)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_inferSchema',
 '_instantiatedContext',
 '_jsc',
 '_jsqlContext',
 '_jvm',
 '_sc',
 '_ssql_ctx',
 'cacheTable',
 'clearCache',
 'createDataFrame',
 'createExternalTable',
 'dropTempTable',
 'getConf',
 'getOrCreate',
 'newSession',
 'range',
 'read',
 'readStream',
 'registerDataFrameAsTable',
 'registerFunction',
 'registerJavaFunction',
 'setConf',
 'sparkSession',
 'sql',
 'streams',
 'table',
 'tableNames',
 'tables',
 'udf',
 'uncacheTable']

In [6]:
help(sqlContext)

Help on SQLContext in module pyspark.sql.context object:

class SQLContext(builtins.object)
 |  The entry point for working with structured data (rows and columns) in Spark, in Spark 1.x.
 |
 |  As of Spark 2.0, this is replaced by :class:`SparkSession`. However, we are keeping the class
 |  here for backward compatibility.
 |
 |  A SQLContext can be used create :class:`DataFrame`, register :class:`DataFrame` as
 |  tables, execute SQL over tables, cache tables, and read parquet files.
 |
 |  :param sparkContext: The :class:`SparkContext` backing this SQLContext.
 |  :param sparkSession: The :class:`SparkSession` around which this SQLContext wraps.
 |  :param jsqlContext: An optional JVM Scala SQLContext. If set, we do not instantiate a new
 |      SQLContext in the JVM, instead we make all calls to this object.
 |
 |  Methods defined here:
 |
 |  __init__(self, sparkContext, sparkSession=None, jsqlContext=None)
 |      Creates a new SQLContext.
 |
 |      >>> from datetime import datetime
 |      >>> sqlContext = SQLContext(sc)
 |      >>> allTypes = sc.parallelize([Row(i=1, s="string", d=1.0, l=1,
 |      ...     b=True, list=[1, 2, 3], dict={"s": 0}, row=Row(a=1),
 |      ...     time=datetime(2014, 8, 1, 14, 1, 5))])
 |      >>> df = allTypes.toDF()
 |      >>> df.createOrReplaceTempView("allTypes")
 |      >>> sqlContext.sql('select i+1, d+1, not b, list[1], dict["s"], time, row.a '
 |      ...            'from allTypes where b and i > 0').collect()
 |      [Row((i + CAST(1 AS BIGINT))=2, (d + CAST(1 AS DOUBLE))=2.0, (NOT b)=False, list[1]=2,             dict[s]=0, time=datetime.datetime(2014, 8, 1, 14, 1, 5), a=1)]
 |      >>> df.rdd.map(lambda x: (x.i, x.s, x.d, x.l, x.b, x.time, x.row.a, x.list)).collect()
 |      [(1, 'string', 1.0, 1, True, datetime.datetime(2014, 8, 1, 14, 1, 5), 1, [1, 2, 3])]
 |
 |  cacheTable(self, tableName)
 |      Caches the specified table in-memory.
 |
 |      .. versionadded:: 1.0
 |
 |  clearCache(self)
 |      Removes all cached tables from the in-memory cache.
 |
 |      .. versionadded:: 1.3
 |
 |  createDataFrame(self, data, schema=None, samplingRatio=None, verifySchema=True)
 |      Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.
 |
 |      When ``schema`` is a list of column names, the type of each column
 |      will be inferred from ``data``.
 |
 |      When ``schema`` is ``None``, it will try to infer the schema (column names and types)
 |      from ``data``, which should be an RDD of :class:`Row`,
 |      or :class:`namedtuple`, or :class:`dict`.
 |
 |      When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string it must match
 |      the real data, or an exception will be thrown at runtime. If the given schema is not
 |      :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |      :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value",
 |      each record will also be wrapped into a tuple, which can be converted to row later.
 |
 |      If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
 |      rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.
 |
 |      :param data: an RDD of any kind of SQL data representation(e.g. :class:`Row`,
 |          :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
 |          :class:`pandas.DataFrame`.
 |      :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
 |          column names, default is None.  The data type string format equals to
 |          :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
 |          omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
 |          ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`.
 |          We can also use ``int`` as a short name for :class:`pyspark.sql.types.IntegerType`.
 |      :param samplingRatio: the sample ratio of rows used for inferring
 |      :param verifySchema: verify data types of every row against schema.
 |      :return: :class:`DataFrame`
 |
 |      .. versionchanged:: 2.0
 |         The ``schema`` parameter can be a :class:`pyspark.sql.types.DataType` or a
 |         datatype string after 2.0.
 |         If it's not a :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |         :class:`pyspark.sql.types.StructType` and each record will also be wrapped into a tuple.
 |
 |      .. versionchanged:: 2.1
 |         Added verifySchema.
 |
 |      >>> l = [('Alice', 1)]
 |      >>> sqlContext.createDataFrame(l).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> sqlContext.createDataFrame(l, ['name', 'age']).collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> d = [{'name': 'Alice', 'age': 1}]
 |      >>> sqlContext.createDataFrame(d).collect()
 |      [Row(age=1, name='Alice')]
 |
 |      >>> rdd = sc.parallelize(l)
 |      >>> sqlContext.createDataFrame(rdd).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> df = sqlContext.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql import Row
 |      >>> Person = Row('name', 'age')
 |      >>> person = rdd.map(lambda r: Person(*r))
 |      >>> df2 = sqlContext.createDataFrame(person)
 |      >>> df2.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql.types import *
 |      >>> schema = StructType([
 |      ...    StructField("name", StringType(), True),
 |      ...    StructField("age", IntegerType(), True)])
 |      >>> df3 = sqlContext.createDataFrame(rdd, schema)
 |      >>> df3.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> sqlContext.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
 |      [Row(name='Alice', age=1)]
 |      >>> sqlContext.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
 |      [Row(0=1, 1=2)]
 |
 |      >>> sqlContext.createDataFrame(rdd, "a: string, b: int").collect()
 |      [Row(a='Alice', b=1)]
 |      >>> rdd = rdd.map(lambda row: row[1])
 |      >>> sqlContext.createDataFrame(rdd, "int").collect()
 |      [Row(value=1)]
 |      >>> sqlContext.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      Py4JJavaError: ...
 |
 |      .. versionadded:: 1.3
 |
 |  createExternalTable(self, tableName, path=None, source=None, schema=None, **options)
 |      Creates an external table based on the dataset in a data source.
 |
 |      It returns the DataFrame associated with the external table.
 |
 |      The data source is specified by the ``source`` and a set of ``options``.
 |      If ``source`` is not specified, the default data source configured by
 |      ``spark.sql.sources.default`` will be used.
 |
 |      Optionally, a schema can be provided as the schema of the returned :class:`DataFrame` and
 |      created external table.
 |
 |      :return: :class:`DataFrame`
 |
 |      .. versionadded:: 1.3
 |
 |  dropTempTable(self, tableName)
 |      Remove the temp table from catalog.
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> sqlContext.dropTempTable("table1")
 |
 |      .. versionadded:: 1.6
 |
 |  getConf(self, key, defaultValue=None)
 |      Returns the value of Spark SQL configuration property for the given key.
 |
 |      If the key is not set and defaultValue is not None, return
 |      defaultValue. If the key is not set and defaultValue is None, return
 |      the system default value.
 |
 |      >>> sqlContext.getConf("spark.sql.shuffle.partitions")
 |      '200'
 |      >>> sqlContext.getConf("spark.sql.shuffle.partitions", u"10")
 |      '10'
 |      >>> sqlContext.setConf("spark.sql.shuffle.partitions", u"50")
 |      >>> sqlContext.getConf("spark.sql.shuffle.partitions", u"10")
 |      '50'
 |
 |      .. versionadded:: 1.3
 |
 |  newSession(self)
 |      Returns a new SQLContext as new session, that has separate SQLConf,
 |      registered temporary views and UDFs, but shared SparkContext and
 |      table cache.
 |
 |      .. versionadded:: 1.6
 |
 |  range(self, start, end=None, step=1, numPartitions=None)
 |      Create a :class:`DataFrame` with single :class:`pyspark.sql.types.LongType` column named
 |      ``id``, containing elements in a range from ``start`` to ``end`` (exclusive) with
 |      step value ``step``.
 |
 |      :param start: the start value
 |      :param end: the end value (exclusive)
 |      :param step: the incremental step (default: 1)
 |      :param numPartitions: the number of partitions of the DataFrame
 |      :return: :class:`DataFrame`
 |
 |      >>> sqlContext.range(1, 7, 2).collect()
 |      [Row(id=1), Row(id=3), Row(id=5)]
 |
 |      If only one argument is specified, it will be used as the end value.
 |
 |      >>> sqlContext.range(3).collect()
 |      [Row(id=0), Row(id=1), Row(id=2)]
 |
 |      .. versionadded:: 1.4
 |
 |  registerDataFrameAsTable(self, df, tableName)
 |      Registers the given :class:`DataFrame` as a temporary table in the catalog.
 |
 |      Temporary tables exist only during the lifetime of this instance of :class:`SQLContext`.
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |
 |      .. versionadded:: 1.3
 |
 |  registerFunction(self, name, f, returnType=StringType)
 |      Registers a python function (including lambda function) as a UDF
 |      so it can be used in SQL statements.
 |
 |      In addition to a name and the function itself, the return type can be optionally specified.
 |      When the return type is not given it default to a string and conversion will automatically
 |      be done.  For any other return type, the produced object must match the specified type.
 |
 |      :param name: name of the UDF
 |      :param f: python function
 |      :param returnType: a :class:`pyspark.sql.types.DataType` object
 |
 |      >>> sqlContext.registerFunction("stringLengthString", lambda x: len(x))
 |      >>> sqlContext.sql("SELECT stringLengthString('test')").collect()
 |      [Row(stringLengthString(test)='4')]
 |
 |      >>> from pyspark.sql.types import IntegerType
 |      >>> sqlContext.registerFunction("stringLengthInt", lambda x: len(x), IntegerType())
 |      >>> sqlContext.sql("SELECT stringLengthInt('test')").collect()
 |      [Row(stringLengthInt(test)=4)]
 |
 |      >>> from pyspark.sql.types import IntegerType
 |      >>> sqlContext.udf.register("stringLengthInt", lambda x: len(x), IntegerType())
 |      >>> sqlContext.sql("SELECT stringLengthInt('test')").collect()
 |      [Row(stringLengthInt(test)=4)]
 |
 |      .. versionadded:: 1.2
 |
 |  registerJavaFunction(self, name, javaClassName, returnType=None)
 |      Register a java UDF so it can be used in SQL statements.
 |
 |      In addition to a name and the function itself, the return type can be optionally specified.
 |      When the return type is not specified we would infer it via reflection.
 |      :param name:  name of the UDF
 |      :param javaClassName: fully qualified name of java class
 |      :param returnType: a :class:`pyspark.sql.types.DataType` object
 |
 |      >>> sqlContext.registerJavaFunction("javaStringLength",
 |      ...   "test.org.apache.spark.sql.JavaStringLength", IntegerType())
 |      >>> sqlContext.sql("SELECT javaStringLength('test')").collect()
 |      [Row(UDF(test)=4)]
 |      >>> sqlContext.registerJavaFunction("javaStringLength2",
 |      ...   "test.org.apache.spark.sql.JavaStringLength")
 |      >>> sqlContext.sql("SELECT javaStringLength2('test')").collect()
 |      [Row(UDF(test)=4)]
 |
 |      .. versionadded:: 2.1
 |
 |  setConf(self, key, value)
 |      Sets the given Spark SQL configuration property.
 |
 |      .. versionadded:: 1.3
 |
 |  sql(self, sqlQuery)
 |      Returns a :class:`DataFrame` representing the result of the given query.
 |
 |      :return: :class:`DataFrame`
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> df2 = sqlContext.sql("SELECT field1 AS f1, field2 as f2 from table1")
 |      >>> df2.collect()
 |      [Row(f1=1, f2='row1'), Row(f1=2, f2='row2'), Row(f1=3, f2='row3')]
 |
 |      .. versionadded:: 1.0
 |
 |  table(self, tableName)
 |      Returns the specified table or view as a :class:`DataFrame`.
 |
 |      :return: :class:`DataFrame`
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> df2 = sqlContext.table("table1")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |      .. versionadded:: 1.0
 |
 |  tableNames(self, dbName=None)
 |      Returns a list of names of tables in the database ``dbName``.
 |
 |      :param dbName: string, name of the database to use. Default to the current database.
 |      :return: list of table names, in string
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> "table1" in sqlContext.tableNames()
 |      True
 |      >>> "table1" in sqlContext.tableNames("default")
 |      True
 |
 |      .. versionadded:: 1.3
 |
 |  tables(self, dbName=None)
 |      Returns a :class:`DataFrame` containing names of tables in the given database.
 |
 |      If ``dbName`` is not specified, the current database will be used.
 |
 |      The returned DataFrame has two columns: ``tableName`` and ``isTemporary``
 |      (a column with :class:`BooleanType` indicating if a table is a temporary one or not).
 |
 |      :param dbName: string, name of the database to use.
 |      :return: :class:`DataFrame`
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> df2 = sqlContext.tables()
 |      >>> df2.filter("tableName = 'table1'").first()
 |      Row(database='', tableName='table1', isTemporary=True)
 |
 |      .. versionadded:: 1.3
 |
 |  uncacheTable(self, tableName)
 |      Removes the specified table from the in-memory cache.
 |
 |      .. versionadded:: 1.0
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  getOrCreate(sc) from builtins.type
 |      Get the existing SQLContext or create a new one with given SparkContext.
 |
 |      :param sc: SparkContext
 |
 |      .. versionadded:: 1.6
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  read
 |      Returns a :class:`DataFrameReader` that can be used to read data
 |      in as a :class:`DataFrame`.
 |
 |      :return: :class:`DataFrameReader`
 |
 |      .. versionadded:: 1.4
 |
 |  readStream
 |      Returns a :class:`DataStreamReader` that can be used to read data streams
 |      as a streaming :class:`DataFrame`.
 |
 |      .. note:: Evolving.
 |
 |      :return: :class:`DataStreamReader`
 |
 |      >>> text_sdf = sqlContext.readStream.text(tempfile.mkdtemp())
 |      >>> text_sdf.isStreaming
 |      True
 |
 |      .. versionadded:: 2.0
 |
 |  streams
 |      Returns a :class:`StreamingQueryManager` that allows managing all the
 |      :class:`StreamingQuery` StreamingQueries active on `this` context.
 |
 |      .. note:: Evolving.
 |
 |      .. versionadded:: 2.0
 |
 |  udf
 |      Returns a :class:`UDFRegistration` for UDF registration.
 |
 |      :return: :class:`UDFRegistration`
 |
 |      .. versionadded:: 1.3.1

In [7]:
sc.version

'2.2.0'

In [8]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [10]:
from faker import Factory
fake = Factory.create()
fake.seed(4321)

In [11]:
# Each entry consists of last_name, first_name, ssn, job, and age (at least 1)
from pyspark.sql import Row
def fake_entry():
  name = fake.name().split()
  return (name[1], name[0], fake.ssn(), fake.job(), abs(2016 - fake.date_time().year) + 1)

In [14]:
# Create a helper function to call a function repeatedly
def repeat(times, func, *args, **kwargs):
    for _ in range(times):
        yield func(*args, **kwargs)

In [15]:
data = list(repeat(10000, fake_entry))

In [16]:
data[0]

('Brown', 'Jason', '182-83-5988', 'Clothing/textile technologist', 2)

In [17]:
len(data)

10000

In [18]:
help(sqlContext.createDataFrame)

Help on method createDataFrame in module pyspark.sql.context:

createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True) method of pyspark.sql.context.SQLContext instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of :class:`Row`,
    or :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value",
    each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    :param data: an RDD of any kind of SQL data representation(e.g. :class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
        :class:`pandas.DataFrame`.
    :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
        ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`.
        We can also use ``int`` as a short name for :class:`pyspark.sql.types.IntegerType`.
    :param samplingRatio: the sample ratio of rows used for inferring
    :param verifySchema: verify data types of every row against schema.
    :return: :class:`DataFrame`

    .. versionchanged:: 2.0
       The ``schema`` parameter can be a :class:`pyspark.sql.types.DataType` or a
       datatype string after 2.0.
       If it's not a :class:`pyspark.sql.types.StructType`, it will be wrapped into a
       :class:`pyspark.sql.types.StructType` and each record will also be wrapped into a tuple.

    .. versionchanged:: 2.1
       Added verifySchema.

    >>> l = [('Alice', 1)]
    >>> sqlContext.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> sqlContext.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> sqlContext.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> sqlContext.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = sqlContext.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = sqlContext.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = sqlContext.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> sqlContext.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> sqlContext.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> sqlContext.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> sqlContext.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> sqlContext.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

    .. versionadded:: 1.3

In [19]:
dataDF = sqlContext.createDataFrame(data, ('last_name', 'first_name', 'ssn', 'occupation', 'age'))

In [20]:
print('type of dataDF: {0}'.format(type(dataDF)))

type of dataDF: <class 'pyspark.sql.dataframe.DataFrame'>

In [21]:
dataDF.printSchema()

root
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- age: long (nullable = true)

In [22]:
sqlContext.registerDataFrameAsTable(dataDF, 'dataframe')

In [23]:
help(dataDF)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(builtins.object)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SQLContext`::
 |
 |      people = sqlContext.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SQLContext
 |      people = sqlContext.read.parquet("...")
 |      department = sqlContext.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      DataFrame.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the DataFrame has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the DataFrame so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[http://dx.doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      :param col: str, list.
 |        Can be a single column name, or a list of names for multiple columns.
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities. If
 |        the input `col` is a string, the output is a list of floats. If the
 |        input `col` is a list or tuple of strings, the output is also a
 |        list, but each element in it is a list of floats, i.e., the output
 |        is a list of list of floats.
 |
 |      .. versionchanged:: 2.2
 |         Added support for multiple columns.
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (C{MEMORY_AND_DISK}).
 |
 |      .. note:: The default storage level has changed to C{MEMORY_AND_DISK} to match Scala in 2.0.
 |
 |      .. versionadded:: 1.3
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this DataFrame, which is especially useful in iterative algorithms where the
 |      plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with L{SparkContext.setCheckpointDir()}.
 |
 |      :param eager: Whether to checkpoint this DataFrame immediately
 |
 |      .. note:: Experimental
 |
 |      .. versionadded:: 2.1
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this DataFrame.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.1
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.2
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      :param other: Right side of the cartesian product.
 |
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |      .. versionadded:: 2.1
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes statistics for numeric and string columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no
 |          guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      :param cols: a string name of the column to drop, or a
 |          :class:`Column` to drop, or a list of string name of the columns to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, long, float, boolean, or string.
 |      :param subset: optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      >>> df4.na.fill(50).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      |  5|    50|  Bob|
 |      | 50|    50|  Tom|
 |      | 50|    50| null|
 |      +---+------+-----+
 |
 |      >>> df4.na.fill({'age': 50, 'name': 'unknown'}).show()
 |      +---+------+-------+
 |      |age|height|   name|
 |      +---+------+-------+
 |      | 10|    80|  Alice|
 |      |  5|  null|    Bob|
 |      | 50|  null|    Tom|
 |      | 50|  null|unknown|
 |      +---+------+-------+
 |
 |      .. versionadded:: 1.3.1
 |
 |  filter(self, condition)
 |      Filters rows using the given condition.
 |
 |      :func:`where` is an alias for :func:`filter`.
 |
 |      :param condition: a :class:`Column` of :class:`types.BooleanType`
 |          or a string of SQL expression.
 |
 |      >>> df.filter(df.age > 3).collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df.where(df.age == 2).collect()
 |      [Row(age=2, name='Alice')]
 |
 |      >>> df.filter("age > 3").collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df.where("age = 2").collect()

In [24]:
dataDF.rdd.getNumPartitions()

4

In [25]:
newDF = dataDF.distinct().select('*')
newDF.explain(True)

== Parsed Logical Plan ==
'Project [*]
+- Deduplicate [first_name#7, age#10L, last_name#6, occupation#9, ssn#8], false
   +- LogicalRDD [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]
+- Deduplicate [first_name#7, age#10L, last_name#6, occupation#9, ssn#8], false
   +- LogicalRDD [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]

== Optimized Logical Plan ==
Aggregate [first_name#7, age#10L, last_name#6, occupation#9, ssn#8], [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]
+- LogicalRDD [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]

== Physical Plan ==
*HashAggregate(keys=[first_name#7, age#10L, last_name#6, occupation#9, ssn#8], functions=[], output=[last_name#6, first_name#7, ssn#8, occupation#9, age#10L])
+- Exchange hashpartitioning(first_name#7, age#10L, last_name#6, occupation#9, ssn#8, 200)
   +- *HashAggregate(keys=[first_name#7, age#10L, last_name#6, occupation#9, ssn#8], functions=[], output=[first_name#7, age#10L, last_name#6, occupation#9, ssn#8])
      +- Scan ExistingRDD[last_name#6,first_name#7,ssn#8,occupation#9,age#10L]

In [26]:
# Transform dataDF through a select transformation and rename the newly created '(age -1)' column to 'age'
# Because select is a transformation and Spark uses lazy evaluation, no jobs, stages,
# or tasks will be launched when we run this code.
subDF = dataDF.select('last_name', 'first_name', 'ssn', 'occupation', (dataDF.age - 1).alias('age'))

In [27]:
subDF.explain(True)

== Parsed Logical Plan ==
'Project [unresolvedalias('last_name, None), unresolvedalias('first_name, None), unresolvedalias('ssn, None), unresolvedalias('occupation, None), (age#10L - 1) AS age#25]
+- LogicalRDD [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#6, first_name#7, ssn#8, occupation#9, (age#10L - cast(1 as bigint)) AS age#25L]
+- LogicalRDD [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]

== Optimized Logical Plan ==
Project [last_name#6, first_name#7, ssn#8, occupation#9, (age#10L - 1) AS age#25L]
+- LogicalRDD [last_name#6, first_name#7, ssn#8, occupation#9, age#10L]

== Physical Plan ==
*Project [last_name#6, first_name#7, ssn#8, occupation#9, (age#10L - 1) AS age#25L]
+- Scan ExistingRDD[last_name#6,first_name#7,ssn#8,occupation#9,age#10L]

In [29]:
# Let's collect the data
results = subDF.collect()
print(results)

[Row(last_name='Brown', first_name='Jason', ssn='182-83-5988', occupation='Clothing/textile technologist', age=1), Row(last_name='Brown', first_name='Cody', ssn='298-53-9877', occupation='Exhibition designer', age=19), Row(last_name='Griffin', first_name='Sandra', ssn='175-58-0111', occupation='Clothing/textile technologist', age=10), Row(last_name='Wyatt', first_name='David', ssn='270-76-3455', occupation='Surveyor, mining', age=24), Row(last_name='George', first_name='Daniel', ssn='200-38-3837', occupation='Maintenance engineer', age=18), Row(last_name='Rogers', first_name='Barry', ssn='634-25-3185', occupation='Local government officer', age=30), Row(last_name='Foster', first_name='Morgan', ssn='464-88-6116', occupation='Presenter, broadcasting', age=39), Row(last_name='Hansen', first_name='John', ssn='773-12-5058', occupation='Armed forces logistics/support/administrative officer', age=42), Row(last_name='Rice', first_name='Derek', ssn='054-51-9007', occupation='Pharmacist, hospital', age=23), Row(last_name='Little', first_name='Cheryl', ssn='725-70-4549', occupation='Brewing technologist', age=41), Row(last_name='Peters', first_name='Leah', ssn='826-58-6908', occupation='Television production assistant', age=8), Row(last_name='Simon', first_name='Logan', ssn='062-37-6157', occupation='Health service manager', age=31), Row(last_name='Bennett', first_name='Krystal', ssn='308-43-0932', occupation='Emergency planning/management officer', age=24), Row(last_name='Burke', first_name='Kelly', ssn='299-52-4282', occupation='Aeronautical engineer', age=4), Row(last_name='Robinson', first_name='Paige', ssn='212-42-9151', occupation='Clinical psychologist', age=7), Row(last_name='Aaron', first_name='Mr.', ssn='631-15-3272', occupation='Catering manager', age=36), Row(last_name='Carter', first_name='Bradley', ssn='750-85-4885', occupation='Building control surveyor', age=35), Row(last_name='Lyons', first_name='Chris', ssn='795-90-8059', occupation='Chartered certified accountant', age=35), Row(last_name='Gregory', first_name='Stephanie', ssn='800-68-1097', occupation='Development worker, international aid', age=10), Row(last_name='Blair', first_name='Emily', ssn='528-14-5681', occupation='Chartered certified accountant', age=2), Row(last_name='Young', first_name='Sherri', ssn='366-97-6486', occupation='Medical technical officer', age=45), Row(last_name='Patterson', first_name='Bobby', ssn='063-74-9852', occupation='International aid/development worker', age=0), Row(last_name='Glenn', first_name='Cynthia', ssn='351-52-4229', occupation='Associate Professor', age=30), Row(last_name='Davidson', first_name='Caleb', ssn='184-06-6403', occupation='Phytotherapist', age=36), Row(last_name='Ellis', first_name='Joshua', ssn='795-34-2913', occupation='Public librarian', age=32), Row(last_name='Myers', first_name='Samuel', ssn='698-12-1613', occupation='Geologist, wellsite', age=1), Row(last_name='Pope', first_name='Cody', ssn='604-04-8949', occupation='Product/process development scientist', age=31), Row(last_name='Fisher', first_name='Steven', ssn='898-49-3926', occupation='Advertising account planner', age=2), Row(last_name='Hill', first_name='Tanya', ssn='644-05-1087', occupation='Research officer, government', age=0), Row(last_name='Singleton', first_name='Brittney', ssn='296-98-1289', occupation='Conservation officer, nature', age=6), Row(last_name='Bishop', first_name='Joyce', ssn='706-87-4666', occupation='Hydrologist', age=40), Row(last_name='Smith', first_name='Brandon', ssn='780-25-1953', occupation='Futures trader', age=6), Row(last_name='Robert', first_name='Dr.', ssn='138-38-8579', occupation='Technical author', age=30), Row(last_name='King', first_name='Matthew', ssn='263-65-2624', occupation='Learning disability nurse', age=7), Row(last_name='Spence', first_name='James', ssn='059-68-7092', occupation='Engineer, production', age=19), Row(last_name='Warren', first_name='Jorge', ssn='158-70-6974', occupation='Occupational psychologist', age=44), Row(last_name='Navarro', first_name='William', ssn='200-09-7607', occupation='Television production assistant', age=5), Row(last_name='Mathis', first_name='Ana', ssn='602-42-1858', occupation='Health promotion specialist', age=29), Row(last_name='Williams', first_name='Ariel', ssn='124-78-7492', occupation='Ecologist', age=9), Row(last_name='Walker', first_name='Melissa', ssn='316-96-7323', occupation='Architectural technologist', age=28), Row(last_name='Murray', first_name='Thomas', ssn='086-10-5854', occupation='Engineer, manufacturing systems', age=45), Row(last_name='Mendoza', first_name='Richard', ssn='633-23-0309', occupation='Wellsite geologist', age=30), Row(last_name='Garcia', first_name='Emily', ssn='074-20-1718', occupation='Contracting civil engineer', age=13), Row(last_name='Gallagher', first_name='Darren', ssn='104-27-4025', occupation='Community education officer', age=32), Row(last_name='Richardson', first_name='Randy', ssn='608-49-4728', occupation='Company secretary', age=4), Row(last_name='Salazar', first_name='Brittany', ssn='763-73-4799', occupation='Tourist information centre manager', age=38), Row(last_name='Ford', first_name='Brandon', ssn='394-52-7614', occupation='Dance movement psychotherapist', age=10), Row(last_name='Le', first_name='Amber', ssn='458-94-6667', occupation='Engineer, communications', age=18), Row(last_name='Burns', first_name='Roy', ssn='200-09-8924', occupation='Electrical engineer', age=15), Row(last_name='Fowler', first_name='Brittany', ssn='890-36-5878', occupation='Music tutor', age=38), Row(last_name='Watts', first_name='Joseph', ssn='257-82-4843', occupation='Lecturer, further education', age=32), Row(last_name='Grant', first_name='David', ssn='261-56-2644', occupation='Engineer, automotive', age=30), Row(last_name='Nguyen', first_name='Martha', ssn='061-06-6606', occupation='Ship broker', age=40), Row(last_name='Williams', first_name='Wesley', ssn='416-16-1106', occupation='Surveyor, building', age=39), Row(last_name='Parsons', first_name='Michael', ssn='304-93-2898', occupation='Surveyor, quantity', age=37), Row(last_name='Ryan', first_name='Christopher', ssn='385-53-9579', occupation='Investment banker, operational', age=9), Row(last_name='Johnson', first_name='Megan', ssn='028-72-8991', occupation='Insurance claims handler', age=7), Row(last_name='Oneal', first_name='Linda', ssn='766-04-5107', occupation='Commercial/residential surveyor', age=44), Row(last_name='Ellis', first_name='Cheyenne', ssn='820-20-0445', occupation='Programmer, systems', age=27), Row(last_name='Garcia', first_name='Danielle', ssn='717-05-1050', occupation='Estate manager/land agent', age=1), Row(last_name='Johns', first_name='Jennifer', ssn='516-20-7686', occupation='Engineer, civil (contracting)', age=4), Row(last_name='Salazar', first_name='Jake', ssn='525-84-2141', occupation='Merchandiser, retail', age=39), Row(last_name='Lewis', first_name='Manuel', ssn='090-34-0038', occupation='Academic librarian', age=22), Row(last_name='Mora', first_name='Jennifer', ssn='243-95-7194', occupation='Fast food restaurant manager', age=34), Row(last_name='Lambert', first_name='Peter', ssn='496-56-6713', occupation='Private music teacher', age=31), Row(last_name='Valencia', first_name='Christina', ssn='293-28-6195', occupation='Sport and exercise psychologist', age=43), Row(last_name='Hall', first_name='Joseph', ssn='712-61-2407', occupation='Psychologist, educational', age=45), Row(last_name='Duncan', first_name='Alex', ssn='191-54-1821', occupation='Sales executive', age=19), Row(last_name='Johnston', first_name='Crystal', ssn='727-29-8344', occupation='Historic buildings inspector/conservation officer', age=33), Row(last_name='Bailey', first_name='Ronnie', ssn='315-33-0982', occupation='Copy', age=35), Row(last_name='Boyle', first_name='Kathryn', ssn='670-94-1318', occupation='Agricultural engineer', age=30), Row(last_name='Harris', first_name='Calvin', ssn='525-14-8832', occupation='Midwife', age=16), Row(last_name='Clark', first_name='Megan', ssn='592-99-2891', occupation='Waste management officer', age=5), Row(last_name='Johnson', first_name='Ashley', ssn='601-12-9462', occupation='Production assistant, radio', age=20), Row(last_name='Brown', first_name='Sheila', ssn='741-62-8267', occupation='Private music teacher', age=8), Row(last_name='Vargas', first_name='Jason', ssn='525-18-9888', occupation='Health and safety adviser', age=38), Row(last_name='Lee', first_name='Jason', ssn='233-19-7038', occupation='Higher education careers adviser', age=44), Row(last_name='Mays', first_name='Edgar', ssn='128-90-3792', occupation='Geoscientist', age=25), Row(last_name='Terrell', first_name='Stacy', ssn='538-89-2272', occupation='Surveyor, hydrographic', age=29), Row(last_name='Schroeder', first_name='David', ssn='046-68-6425', occupation='Early years teacher', age=41), Row(last_name='Steven', first_name='Mr.', ssn='482-03-4239', occupation='Architectural technologist', age=26), Row(last_name='Waters', first_name='Erin', ssn='250-89-3339', occupation='Newspaper journalist', age=21), Row(last_name='Robinson', first_name='Jessica', ssn='247-36-1191', occupation='Higher education lecturer', age=1), Row(last_name='Manning', first_name='Gina', ssn='129-16-1645', occupation='Engineering geologist', age=45), Row(last_name='Brooks', first_name='Jennifer', ssn='801-75-7594', occupation='Designer, fashion/clothing', age=3), Row(last_name='Mcmahon', first_name='Eric', ssn='465-72-7135', occupation='Surveyor, rural practice', age=17), Row(last_name='Morales', first_name='Kendra', ssn='773-23-3100', occupation='Multimedia programmer', age=0), Row(last_name='Joseph', first_name='Ebony', ssn='660-46-8638', occupation='Magazine features editor', age=34), Row(last_name='Rodriguez', first_name='Jared', ssn='466-45-7301', occupation='Mudlogger', age=46), Row(last_name='Dean', first_name='Sarah', ssn='611-87-2040', occupation='Horticulturist, amenity', age=16), Row(last_name='Cruz', first_name='Lisa', ssn='058-92-8829', occupation='Jewellery designer', age=19), Row(last_name='Simmons', first_name='Teresa', ssn='350-62-8678', occupation='Interior and spatial designer', age=32), Row(last_name='Ochoa', first_name='Ann', ssn='328-59-6528', occupation='Designer, ceramics/pottery', age=15), Row(last_name='Scott', first_name='Michael', ssn='534-04-9753', occupation='Chartered accountant', age=28), Row(last_name='Evans', first_name='Robert', ssn='449-09-1633', occupation='Corporate treasurer', age=26), Row(last_name='Deleon', first_name='Tyrone', ssn='404-69-6998', occupation='Editor, commissioning', age=25), Row(last_name='Delgado', first_name='Sonia', ssn='323-45-9560', occupation='Research scientist (life sciences)', age=27), Row(last_name='Davis', first_name='Shannon', ssn='517-20-4894', occupation='Social research officer, government', age=13), Row(last_name='Smith', first_name='Patty', ssn='196-49-0739', occupation='Engineer, technical sales', age=3), Row(last_name='Gomez', first_name='Sheri', ssn='436-05-6057', occupation='Race relations officer', age=1), Row(last_name='Henson', first_name='Matthew', ssn='164-27-0683', occupation='Oncologist', age=28), Row(last_name='Robinson', first_name='Adam', ssn='317-86-9191', occupation='Systems developer', age=35), Row(last_name='Sanders', first_name='Mary', ssn='828-59-9193', occupation='Conference centre manager', age=35), Row(last_name='Brown', first_name='Tyler', ssn='847-96-7409', occupation='Theme park manager', age=20), Row(last_name='Hess', first_name='Dawn', ssn='205-78-0336', occupation='Speech and language therapist', age=19), Row(last_name='Vargas', first_name='Joel', ssn='369-28-8434', occupation='Solicitor, Scotland', age=27), Row(last_name='Perry', first_name='Zachary', ssn='892-56-4652', occupation='Drilling engineer', age=3), Row(last_name='Holmes', first_name='Joseph', ssn='115-42-4076', occupation='Advertising art director', age=41), Row(last_name='Brewer', first_name='Angela', ssn='488-78-4241', occupation='Therapeutic radiographer', age=35), Row(last_name='Wilson', first_name='Nicolas', ssn='299-23-7233', occupation='Lecturer, higher education', age=32), Row(last_name='Pena', first_name='Crystal', ssn='094-63-4387', occupation='Environmental consultant', age=28), Row(last_name='Long', first_name='Alison', ssn='847-66-9929', occupation='Public relations account executive', age=26), Row(last_name='Cook', first_name='Matthew', ssn='062-06-5702', occupation='Chartered loss adjuster', age=23), Row(last_name='Valencia', first_name='Alicia', ssn='312-79-9442', occupation='Radiographer, therapeutic', age=10), Row(last_name='Garcia', first_name='Jamie', ssn='881-06-8519', occupation='Health service manager', age=36), Row(last_name='Wang', first_name='Steven', ssn='182-19-8546', occupation='Science writer', age=25), Row(last_name='Cervantes', first_name='James', ssn='493-88-2952', occupation='Land', age=17), Row(last_name='Chen', first_name='Anthony', ssn='203-32-2098', occupation='Engineer, agricultural', age=16), Row(last_name='Jones', first_name='Mary', ssn='319-27-2359', occupation='Medical illustrator', age=46), Row(last_name='Simon', first_name='Carolyn', ssn='080-30-7534', occupation='Holiday representative', age=46), Row(last_name='Cobb', first_name='Alice', ssn='446-28-8480', occupation='Electrical engineer', age=20), Row(last_name='Dickson', first_name='Joseph', ssn='739-66-3307', occupation='Agricultural consultant', age=11), Row(last_name='Hancock', first_name='Jaime', ssn='772-14-2343', occupation='Pilot, airline', age=16), Row(last_name='Clayton', first_name='Richard', ssn='341-98-0537', occupation='Electrical engineer', age=20), Row(last_name='Allen', first_name='Rebecca', ssn='123-75-7691', occupation='Further education lecturer', age=16), Row(last_name='Giles', first_name='Shannon', ssn='654-33-1201', occupation='Ophthalmologist', age=41), Row(last_name='Ramirez', first_name='Daniel', ssn='183-19-0892', occupation='Emergency planning/management officer', age=37), Row(last_name='Goodwin', first_name='Kelli', ssn='281-32-9098', occupation='Dance movement psychotherapist', age=9), Row(last_name='Perez', first_name='Karen', ssn='142-89-5887', occupation='Environmental manager', age=1), Row(last_name='Dominguez', first_name='Maria', ssn='624-31-8795', occupation='Designer, industrial/product', age=36), Row(last_name='Rios', first_name='John', ssn='225-05-1850', occupation='Engineer, land', age=15), Row(last_name='Harris', first_name='Brendan', ssn='615-72-7770', occupation='Financial manager', age=23), Row(last_name='Vargas', first_name='Rodney', ssn='555-65-6608', occupation='Engineer, automotive', age=29), Row(last_name='Johnson', first_name='Christian', ssn='876-81-1489', occupation='Osteopath', age=1), Row(last_name='Johnson', first_name='Margaret', ssn='264-94-6236', occupation='Technical sales engineer', age=32), Row(last_name='Carter', first_name='Mary', ssn='542-01-1615', occupation='Building services engineer', age=14), Row(last_name='Jones', first_name='Christopher', ssn='869-71-2142', occupation='Market researcher', age=20), Row(last_name='Olsen', first_name='Curtis', ssn='647-48-6353', occupation='Clinical embryologist', age=36), Row(last_name='Watson', first_name='Amanda', ssn='560-35-2801', occupation='Geographical information systems officer', age=5), Row(last_name='King', first_name='Jennifer', ssn='375-20-0073', occupation='Armed forces logistics/support/administrative officer', age=36), Row(last_name='Petty', first_name='Stacie', ssn='745-24-0140', occupation='Advice worker', age=33), Row(last_name='Ramos', first_name='George', ssn='414-16-6828', occupation='Medical illustrator', age=26), Row(last_name='Long', first_name='Alex', ssn='679-33-4028', occupation='Stage manager', age=2), Row(last_name='Cole', first_name='Cynthia', ssn='611-12-4910', occupation='Community arts worker', age=41), Row(last_name='Williams', first_name='Sheryl', ssn='525-82-1991', occupation='Editor, commissioning', age=41), Row(last_name='Buchanan', first_name='Monique', ssn='064-86-9793', occupation='Farm manager', age=45), Row(last_name='Davis', first_name='Richard', ssn='494-14-6588', occupation='Sport and exercise psychologist', age=39), Row(last_name='Steele', first_name='Megan', ssn='191-99-1465', occupation='Exhibition designer', age=27), Row(last_name='Gonzalez', first_name='Alexis', ssn='367-39-9478', occupation='Dance movement psychotherapist', age=39), Row(last_name='Graves', first_name='Mary', ssn='889-44-0516', occupation='Production assistant, radio', age=5), Row(last_name='Gibson', first_name='Adam', ssn='887-57-4722', occupation='Catering manager', age=23), Row(last_name='Williams', first_name='Sandy', ssn='899-19-7343', occupation='Horticulturist, commercial', age=21), Row(last_name='Stafford', first_name='Daniel', ssn='403-79-9726', occupation='Holiday representative', age=10), Row(last_name='Ochoa', first_name='Evelyn', ssn='757-56-8374', occupation='Customer service manager', age=40), Row(last_name='White', first_name='Alyssa', ssn='739-36-7833', occupation='Logistics and distribution manager', age=18), Row(last_name='Montes', first_name='Brian', ssn='562-81-0505', occupation='Hydrologist', age=36), Row(last_name='Roberts', first_name='Scott', ssn='294-81-1683', occupation='Surveyor, building', age=5), Row(last_name='Schwartz', first_name='Elizabeth', ssn='850-96-3688', occupation='Educational psychologist', age=36), Row(last_name='Mills', first_name='Gary', ssn='224-81-8228', occupation='Transport planner', age=6), Row(last_name='Haynes', first_name='Daniel', ssn='762-33-4277', occupation='Therapist, art', age=23), Row(last_name='Abbott', first_name='James', ssn='140-45-0349', occupation='Publishing rights manager', age=32), Row(last_name='Frederick', first_name='Anthony', ssn='692-67-1083', occupation='Conservator, furniture', age=42), Row(last_name='Moody', first_name='Joshua', ssn='306-23-3056', occupation='Surveyor, minerals', age=1), Row(last_name='Martin', first_name='Robert', ssn='354-01-7946', occupation='Engineer, biomedical', age=22), Row(last_name='Greer', first_name='Amber', ssn='403-01-7565', occupation='Hydrologist', age=9), Row(last_name='Simmons', first_name='Ashley', ssn='804-68-5539', occupation='Midwife', age=15), Row(last_name='Rivera', first_name='Justin', ssn='418-30-0458', occupation='Dancer', age=25), Row(last_name='Gallegos', first_name='Jorge', ssn='515-22-1714', occupation='Patent examiner', age=30), Row(last_name='Marsh', first_name='Destiny', ssn='638-33-5782', occupation='Dentist', age=14), Row(last_name='Smith', first_name='Edward', ssn='527-98-9855', occupation='Engineer, maintenance', age=33), Row(last_name='Wilson', first_name='Laura', ssn='392-77-6499', occupation='Farm manager', age=20), Row(last_name='Moore', first_name='Jason', ssn='485-69-9746', occupation='Mental health nurse', age=45), Row(last_name='Boyle', first_name='Mallory', ssn='057-63-9453', occupation='Environmental manager', age=6), Row(last_name='Yates', first_name='Laura', ssn='085-13-5113', occupation="Politician's assistant", age=15), Row(last_name='Miller', first_name='Sonya', ssn='213-45-7548', occupation='Glass blower/designer', age=45), Row(last_name='Alex', first_name='Mr.', ssn='531-77-4688', occupation='Horticulturist, commercial', age=18), Row(last_name='Watkins', first_name='Isaac', ssn='795-31-5815', occupation='Geographical information systems officer', age=1), Row(last_name='Dillon', first_name='Jill', ssn='035-27-3786', occupation='Lecturer, higher education', age=35), Row(last_name='Freeman', first_name='Paul', ssn='205-37-7383', occupation='Doctor, hospital', age=37), Row(last_name='French', first_name='Charles', ssn='242-45-5478', occupation='Travel agency manager', age=15), Row(last_name='Rivas', first_name='Victoria', ssn='085-32-9572', occupation='Investment banker, operational', age=28), Row(last_name='Garcia', first_name='Sherri', ssn='444-42-3192', occupation='Sales executive', age=25), Row(l

In [30]:
subDF.show()

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|    Brown|     Jason|182-83-5988|Clothing/textile ...|  1|
|    Brown|      Cody|298-53-9877| Exhibition designer| 19|
|  Griffin|    Sandra|175-58-0111|Clothing/textile ...| 10|
|    Wyatt|     David|270-76-3455|    Surveyor, mining| 24|
|   George|    Daniel|200-38-3837|Maintenance engineer| 18|
|   Rogers|     Barry|634-25-3185|Local government ...| 30|
|   Foster|    Morgan|464-88-6116|Presenter, broadc...| 39|
|   Hansen|      John|773-12-5058|Armed forces logi...| 42|
|     Rice|     Derek|054-51-9007|Pharmacist, hospital| 23|
|   Little|    Cheryl|725-70-4549|Brewing technologist| 41|
|   Peters|      Leah|826-58-6908|Television produc...|  8|
|    Simon|     Logan|062-37-6157|Health service ma...| 31|
|  Bennett|   Krystal|308-43-0932|Emergency plannin...| 24|
|    Burke|     Kelly|299-52-4282|Aeronautical engi...|  4|
| Robinson|     Paige|212-42-9151|Clinical psycholo...|  7|
|    Aaron|       Mr.|631-15-3272|    Catering manager| 36|
|   Carter|   Bradley|750-85-4885|Building control ...| 35|
|    Lyons|     Chris|795-90-8059|Chartered certifi...| 35|
|  Gregory| Stephanie|800-68-1097|Development worke...| 10|
|    Blair|     Emily|528-14-5681|Chartered certifi...|  2|
+---------+----------+-----------+--------------------+---+
only showing top 20 rows

In [32]:
subDF.show(n=30, truncate=True)

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|    Brown|     Jason|182-83-5988|Clothing/textile ...|  1|
|    Brown|      Cody|298-53-9877| Exhibition designer| 19|
|  Griffin|    Sandra|175-58-0111|Clothing/textile ...| 10|
|    Wyatt|     David|270-76-3455|    Surveyor, mining| 24|
|   George|    Daniel|200-38-3837|Maintenance engineer| 18|
|   Rogers|     Barry|634-25-3185|Local government ...| 30|
|   Foster|    Morgan|464-88-6116|Presenter, broadc...| 39|
|   Hansen|      John|773-12-5058|Armed forces logi...| 42|
|     Rice|     Derek|054-51-9007|Pharmacist, hospital| 23|
|   Little|    Cheryl|725-70-4549|Brewing technologist| 41|
|   Peters|      Leah|826-58-6908|Television produc...|  8|
|    Simon|     Logan|062-37-6157|Health service ma...| 31|
|  Bennett|   Krystal|308-43-0932|Emergency plannin...| 24|
|    Burke|     Kelly|299-52-4282|Aeronautical engi...|  4|
| Robinson|     Paige|212-42-9151|Clinical psycholo...|  7|
|    Aaron|       Mr.|631-15-3272|    Catering manager| 36|
|   Carter|   Bradley|750-85-4885|Building control ...| 35|
|    Lyons|     Chris|795-90-8059|Chartered certifi...| 35|
|  Gregory| Stephanie|800-68-1097|Development worke...| 10|
|    Blair|     Emily|528-14-5681|Chartered certifi...|  2|
|    Young|    Sherri|366-97-6486|Medical technical...| 45|
|Patterson|     Bobby|063-74-9852|International aid...|  0|
|    Glenn|   Cynthia|351-52-4229| Associate Professor| 30|
| Davidson|     Caleb|184-06-6403|      Phytotherapist| 36|
|    Ellis|    Joshua|795-34-2913|    Public librarian| 32|
|    Myers|    Samuel|698-12-1613| Geologist, wellsite|  1|
|     Pope|      Cody|604-04-8949|Product/process d...| 31|
|   Fisher|    Steven|898-49-3926|Advertising accou...|  2|
|     Hill|     Tanya|644-05-1087|Research officer,...|  0|
|Singleton|  Brittney|296-98-1289|Conservation offi...|  6|
+---------+----------+-----------+--------------------+---+
only showing top 30 rows

In [33]:
display(subDF)

DataFrame[last_name: string, first_name: string, ssn: string, occupation: string, age: bigint]

In [34]:
print(dataDF.count())
print(subDF.count())

10000
10000

In [35]:
filteredDF = subDF.filter(subDF.age < 10)
filteredDF.show(truncate=False)
filteredDF.count()

+----------+-----------+-----------+------------------------------------+---+
|last_name |first_name |ssn        |occupation                          |age|
+----------+-----------+-----------+------------------------------------+---+
|Brown     |Jason      |182-83-5988|Clothing/textile technologist       |1  |
|Peters    |Leah       |826-58-6908|Television production assistant     |8  |
|Burke     |Kelly      |299-52-4282|Aeronautical engineer               |4  |
|Robinson  |Paige      |212-42-9151|Clinical psychologist               |7  |
|Blair     |Emily      |528-14-5681|Chartered certified accountant      |2  |
|Patterson |Bobby      |063-74-9852|International aid/development worker|0  |
|Myers     |Samuel     |698-12-1613|Geologist, wellsite                 |1  |
|Fisher    |Steven     |898-49-3926|Advertising account planner         |2  |
|Hill      |Tanya      |644-05-1087|Research officer, government        |0  |
|Singleton |Brittney   |296-98-1289|Conservation officer, nature        |6  |
|Smith     |Brandon    |780-25-1953|Futures trader                      |6  |
|King      |Matthew    |263-65-2624|Learning disability nurse           |7  |
|Navarro   |William    |200-09-7607|Television production assistant     |5  |
|Williams  |Ariel      |124-78-7492|Ecologist                           |9  |
|Richardson|Randy      |608-49-4728|Company secretary                   |4  |
|Ryan      |Christopher|385-53-9579|Investment banker, operational      |9  |
|Johnson   |Megan      |028-72-8991|Insurance claims handler            |7  |
|Garcia    |Danielle   |717-05-1050|Estate manager/land agent           |1  |
|Johns     |Jennifer   |516-20-7686|Engineer, civil (contracting)       |4  |
|Clark     |Megan      |592-99-2891|Waste management officer            |5  |
+----------+-----------+-----------+------------------------------------+---+
only showing top 20 rows

2238

In [38]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf
less_ten = udf(lambda s: s < 10, BooleanType())
lambdaDF = subDF.filter(less_ten(subDF.age))
lambdaDF.show()
lambdaDF.count()

+----------+-----------+-----------+--------------------+---+
| last_name| first_name|        ssn|          occupation|age|
+----------+-----------+-----------+--------------------+---+
|     Brown|      Jason|182-83-5988|Clothing/textile ...|  1|
|    Peters|       Leah|826-58-6908|Television produc...|  8|
|     Burke|      Kelly|299-52-4282|Aeronautical engi...|  4|
|  Robinson|      Paige|212-42-9151|Clinical psycholo...|  7|
|     Blair|      Emily|528-14-5681|Chartered certifi...|  2|
| Patterson|      Bobby|063-74-9852|International aid...|  0|
|     Myers|     Samuel|698-12-1613| Geologist, wellsite|  1|
|    Fisher|     Steven|898-49-3926|Advertising accou...|  2|
|      Hill|      Tanya|644-05-1087|Research officer,...|  0|
| Singleton|   Brittney|296-98-1289|Conservation offi...|  6|
|     Smith|    Brandon|780-25-1953|      Futures trader|  6|
|      King|    Matthew|263-65-2624|Learning disabili...|  7|
|   Navarro|    William|200-09-7607|Television produc...|  5|
|  Williams|      Ariel|124-78-7492|           Ecologist|  9|
|Richardson|      Randy|608-49-4728|   Company secretary|  4|
|      Ryan|Christopher|385-53-9579|Investment banker...|  9|
|   Johnson|      Megan|028-72-8991|Insurance claims ...|  7|
|    Garcia|   Danielle|717-05-1050|Estate manager/la...|  1|
|     Johns|   Jennifer|516-20-7686|Engineer, civil (...|  4|
|     Clark|      Megan|592-99-2891|Waste management ...|  5|
+----------+-----------+-----------+--------------------+---+
only showing top 20 rows

2238

In [39]:
# Let's collect the even values less than 10
even = udf(lambda s: s % 2 == 0, BooleanType())
evenDF = lambdaDF.filter(even(lambdaDF.age))
evenDF.show()
evenDF.count()

+----------+----------+-----------+--------------------+---+
| last_name|first_name|        ssn|          occupation|age|
+----------+----------+-----------+--------------------+---+
|    Peters|      Leah|826-58-6908|Television produc...|  8|
|     Burke|     Kelly|299-52-4282|Aeronautical engi...|  4|
|     Blair|     Emily|528-14-5681|Chartered certifi...|  2|
| Patterson|     Bobby|063-74-9852|International aid...|  0|
|    Fisher|    Steven|898-49-3926|Advertising accou...|  2|
|      Hill|     Tanya|644-05-1087|Research officer,...|  0|
| Singleton|  Brittney|296-98-1289|Conservation offi...|  6|
|     Smith|   Brandon|780-25-1953|      Futures trader|  6|
|Richardson|     Randy|608-49-4728|   Company secretary|  4|
|     Johns|  Jennifer|516-20-7686|Engineer, civil (...|  4|
|     Brown|    Sheila|741-62-8267|Private music tea...|  8|
|   Morales|    Kendra|773-23-3100|Multimedia progra...|  0|
|      Long|      Alex|679-33-4028|       Stage manager|  2|
|     Mills|      Gary|224-81-8228|   Transport planner|  6|
|     Boyle|   Mallory|057-63-9453|Environmental man...|  6|
|    Howard|    Meghan|581-08-7569|   Designer, textile|  8|
|    Howard|  Nicholas|214-06-9383| Engineer, petroleum|  4|
|     Stark|     Amber|593-94-7522| Mechanical engineer|  8|
|     Smith|    Shelby|381-66-0713|Health service ma...|  4|
|   Simmons|      John|360-52-2961|Dance movement ps...|  2|
+----------+----------+-----------+--------------------+---+
only showing top 20 rows

1046

In [40]:
print("first: {0}\n".format(filteredDF.first()))

print("Four of them: {0}\n".format(filteredDF.take(4)))

first: Row(last_name='Brown', first_name='Jason', ssn='182-83-5988', occupation='Clothing/textile technologist', age=1)

Four of them: [Row(last_name='Brown', first_name='Jason', ssn='182-83-5988', occupation='Clothing/textile technologist', age=1), Row(last_name='Peters', first_name='Leah', ssn='826-58-6908', occupation='Television production assistant', age=8), Row(last_name='Burke', first_name='Kelly', ssn='299-52-4282', occupation='Aeronautical engineer', age=4), Row(last_name='Robinson', first_name='Paige', ssn='212-42-9151', occupation='Clinical psychologist', age=7)]

In [41]:
display(filteredDF.take(4))

[Row(last_name='Brown', first_name='Jason', ssn='182-83-5988', occupation='Clothing/textile technologist', age=1),
 Row(last_name='Peters', first_name='Leah', ssn='826-58-6908', occupation='Television production assistant', age=8),
 Row(last_name='Burke', first_name='Kelly', ssn='299-52-4282', occupation='Aeronautical engineer', age=4),
 Row(last_name='Robinson', first_name='Paige', ssn='212-42-9151', occupation='Clinical psychologist', age=7)]

In [42]:
display(dataDF.orderBy(dataDF.age.desc()).take(5))

[Row(last_name='Smith', first_name='Edward', ssn='051-21-6125', occupation='Mental health nurse', age=47),
 Row(last_name='Long', first_name='William', ssn='356-32-6651', occupation='Conservation officer, nature', age=47),
 Row(last_name='Miller', first_name='Deborah', ssn='418-78-9128', occupation='Manufacturing systems engineer', age=47),
 Row(last_name='Jones', first_name='Mary', ssn='319-27-2359', occupation='Medical illustrator', age=47),
 Row(last_name='Hughes', first_name='Paul', ssn='659-82-7416', occupation='Environmental education officer', age=47)]

In [43]:
display(dataDF.orderBy('age').take(5))

[Row(last_name='Clark', first_name='Aaron', ssn='119-31-2898', occupation='Water engineer', age=1),
 Row(last_name='Watson', first_name='Carrie', ssn='839-77-6452', occupation='Insurance account manager', age=1),
 Row(last_name='Hunter', first_name='Jeffrey', ssn='474-66-8191', occupation='Ranger/warden', age=1),
 Row(last_name='Lewis', first_name='Tyrone', ssn='654-41-7869', occupation='Teacher, music', age=1),
 Row(last_name='Green', first_name='Jeff', ssn='539-24-1751', occupation='Financial adviser', age=1)]

In [44]:
print(dataDF.count())
print(dataDF.distinct().count())

10000
10000

In [45]:
tempDF = sqlContext.createDataFrame([("Joe", 1), ("Joe", 1), ("Anna", 15), ("Anna", 12), ("Ravi", 5)], ('name', 'score'))

In [46]:
tempDF.show()

+----+-----+
|name|score|
+----+-----+
| Joe|    1|
| Joe|    1|
|Anna|   15|
|Anna|   12|
|Ravi|    5|
+----+-----+

In [47]:
tempDF.distinct().show()

+----+-----+
|name|score|
+----+-----+
| Joe|    1|
|Ravi|    5|
|Anna|   12|
|Anna|   15|
+----+-----+

In [48]:
dataDF.groupBy('occupation').count().show(truncate=False)

+---------------------------------------+-----+
|occupation                             |count|
+---------------------------------------+-----+
|Catering manager                       |11   |
|Designer, ceramics/pottery             |18   |
|Diplomatic Services operational officer|18   |
|Retail merchandiser                    |15   |
|Librarian, academic                    |18   |
|Engineer, aeronautical                 |10   |
|Early years teacher                    |22   |
|Patent examiner                        |16   |
|Occupational hygienist                 |13   |
|English as a second language teacher   |7    |
|Primary school teacher                 |6    |
|Estate agent                           |19   |
|Clinical molecular geneticist          |12   |
|Control and instrumentation engineer   |13   |
|Transport planner                      |15   |
|Applications developer                 |10   |
|Art therapist                          |16   |
|Investment banker, operational         |29   |
|Stage manager                          |17   |
|Conservator, furniture                 |15   |
+---------------------------------------+-----+
only showing top 20 rows

In [49]:
dataDF.groupBy().avg('age').show(truncate=False)

+--------+
|avg(age)|
+--------+
|23.6432 |
+--------+

In [51]:
sampledDF = dataDF.sample(withReplacement=False, fraction=0.10)
print(sampledDF.count())
sampledDF.show()

1000
+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
|    Simon|     Logan|062-37-6157|Health service ma...| 32|
|Patterson|     Bobby|063-74-9852|International aid...|  1|
|  Parsons|   Michael|304-93-2898|  Surveyor, quantity| 38|
|    Oneal|     Linda|766-04-5107|Commercial/reside...| 45|
|   Garcia|  Danielle|717-05-1050|Estate manager/la...|  2|
| Valencia| Christina|293-28-6195|Sport and exercis...| 44|
|    Clark|     Megan|592-99-2891|Waste management ...|  6|
|Schroeder|     David|046-68-6425| Early years teacher| 42|
|    Scott|   Michael|534-04-9753|Chartered accountant| 29|
|    Allen|   Rebecca|123-75-7691|Further education...| 17|
|    Perez|     Karen|142-89-5887|Environmental man...|  2|
|     Cole|   Cynthia|611-12-4910|Community arts wo...| 42|
|  Watkins|     Isaac|795-31-5815|Geographical info...|  2|
| Anderson|     Glenn|809-59-4131|      Retail manager| 19|
|   Howard|    Meghan|581-08-7569|   Designer, textile|  9|
|Davenport|     Maria|079-33-7079|Surveyor, land/ge...| 25|
|    Cross|     David|657-68-5892|Plant breeder/gen...| 38|
|   Hoover|    Joshua|303-32-1298|Special education...| 33|
|     King|     Erica|396-93-9605|Engineer, manufac...|  1|
|     Hill|    Curtis|381-31-4028|       Meteorologist| 20|
+---------+----------+-----------+--------------------+---+
only showing top 20 rows

In [52]:
print(dataDF.sample(withReplacement=False, fraction=0.05).count())

512